1. Write a python program to initialize a list with 10 names of your
friends. Do the following :-
a. Print the name at the first index.
b. Print the name at the last index.
c. Use slicing to print the names from the third to the fifth index.
d. Use slicing to print the names in reverse order.
e. Use slicing to print the names from eight to third.


2. Create a tuple of 5 students. Do the following :-
a. Display all the students.
b. Add a new student.
c. Delete a student.
d. Use slicing to print students from the first index to third index.
e. Modify the second index value. Can you modify it?

In [12]:
T1=("Khushi","Anshika","Dhruvi","Saina","Ritika")
T1=T1+("Shireen",)
print(T1)

('Khushi', 'Anshika', 'Dhruvi', 'Saina', 'Ritika', 'Shireen')

In [13]:
l1=list(T1)
l1.remove("Saina")
T1=tuple(l1)
print(T1)

('Khushi', 'Anshika', 'Dhruvi', 'Ritika', 'Shireen')

In [14]:
print(T1[0:4:1])

('Khushi', 'Anshika', 'Dhruvi', 'Ritika')

We cannot change values in tuple

3. Create a dictionary with key value as name and age. Do the
following:-
a. Display those students whose age is greater than 20.
b. Add one more student with age 30.
c. Display all the students using .items().
d. Delete a student.
e. Display the average age of all the students.

In [21]:
D1={"Anshika":65,"Saina":20,"Shireen":5}
print(D1)

for name,age in D1.items():
    if(age > 20):
        print(name)

{'Anshika': 65, 'Saina': 20, 'Shireen': 5}
Anshika

In [23]:
D1["Dhruvi"]=30
print(D1)

{'Anshika': 65, 'Saina': 20, 'Shireen': 5, 'Dhruvi': 30}

In [26]:
for name,age in D1.items():
    print(name," ",age)

Anshika   65
Saina   20
Shireen   5
Dhruvi   30

In [28]:
D1.pop("Anshika")

65

In [29]:
print(D1)

{'Saina': 20, 'Shireen': 5, 'Dhruvi': 30}

In [41]:
s=sum(D1.values())
l=len(D1)
if(l != 0):
    print(int(s/l))
else:
    print("Size 0");

18

4. Write a python program that takes in a list with numbers in it and
prints out all the even numbers.

In [49]:
L2=[1,2,3,4,5,6,7,8,9,10]
for i in L2:
    if(i % 2 == 0):
        print(i,end=" ")

2 4 6 8 10

5. Write a python program to print all the duplicate elements in the list.

In [52]:
L3=[1,2,3,3,3,4,5,5,4]
d3={}
for i in L3:
    if i in d3:
        d3[i]=d3[i]+1;
    else:
        d3[i]=1;
for key,value in d3.items():
    if(value > 1):
        print(key)

3
4
5

6. Write a python program to reverse a string.

In [57]:
str="kHUSHI"
str2='';
str2=str2.join(reversed(str))
print(str2)

IHSUHk

7. Write a python program to print fibonacci series till 5th term.

In [60]:
a=0;
b=1;
print(a,end=" ")
print(b,end=" ")
s=0;
for i in range(0,4):
    s=a+b;
    print(s,end=" ")
    a=b;
    b=s;

0 1 1 2 3 5

Write a python program to read a txt file and replace the contents of
the file with “Hi, I am currently pursuing my BTech from Jaypee.”

In [79]:
out=open('practice.txt','w')
out.write("khsuhi")
out.close()
inp=open('practice.txt','r')
content=inp.read()
inp.close()
print(content)
o=open('practice.txt','w')
o.write("Hi, I am currently pursuing my BTech from Jaypee.")
o.close()
i=open('practice.txt','r')
content=i.read()
print(content)
inp.close()

khsuhi
Hi, I am currently pursuing my BTech from Jaypee.

9. Write a python program named ‘reverse.py’ to print lines of a file in
reverse order.

In [90]:
out=open('practice.txt','w')
out.writelines(["Khushi\n","Anshika\n","Dhruvi\n","Saina\n","Ritika\n"])
out.close()

inp=open('practice.txt','r')
cont=inp.readlines()
for line in reversed(content):
    print(line.strip(),end=" ")

. e e p y a J  m o r f  h c e T B  y m  g n i u s r u p  y l t n e r r u c  m a  I  , i H