Q1

In [2]:
l=["Anshika","Khushi","Ritika","Saina","Shireen","Shagun","Saumya","Alaina","Koena","Rakshita"]
print(l[0])
print(l[-1])
print(l[3:5])
print(l[9:0:-1])
print(l[8:3:-1])

Anshika
Rakshita
['Saina', 'Shireen']
['Rakshita', 'Koena', 'Alaina', 'Saumya', 'Shagun', 'Shireen', 'Saina', 'Ritika', 'Khushi']
['Koena', 'Alaina', 'Saumya', 'Shagun', 'Shireen']

Q2

In [7]:
t=("Anshika","Khushi","Ritika","Saina","Shireen")
print(t)
t=t+("Divyanshi",)
print("After Adding:",t)
t=t[:2]+t[3:]
print("After deleting 2 index:",t)
print("Student from 1 to 3:",t[1:3])
print("Trying to modify tuple will raise an error TypeError: 'tuple' object does not support item assignment ")

('Anshika', 'Khushi', 'Ritika', 'Saina', 'Shireen')
After Adding: ('Anshika', 'Khushi', 'Ritika', 'Saina', 'Shireen', 'Divyanshi')
After deleting 2 index: ('Anshika', 'Khushi', 'Saina', 'Shireen', 'Divyanshi')
Student from 1 to 3: ('Khushi', 'Saina')
Trying to modify tuple will raise an error TypeError: 'tuple' object does not support item assignment

Q3

In [8]:
dict={"Anshika":30,"Khushi":20,"Ritika":25,"Saina":19,"Shireen":14}
print("Students greater than 20:")
for name,age in dict.items():
    if age>20:
        print(name)
dict["Pakhi"]=30
print("After adding Pakhi:")
print(dict)
for name,age in dict.items():
    print(f"{name}: {age}")
del dict["Pakhi"]
print("After deleting Pakhi:")
print(dict)
total=sum(dict.values())
avg=total/len(dict)
print("Average age:{avg.2f}")

Students greater than 20:
Anshika
Ritika
After adding Pakhi:
{'Anshika': 30, 'Khushi': 20, 'Ritika': 25, 'Saina': 19, 'Shireen': 14, 'Pakhi': 30}
Anshika: 30
Khushi: 20
Ritika: 25
Saina: 19
Shireen: 14
Pakhi: 30
After deleting Pakhi:
{'Anshika': 30, 'Khushi': 20, 'Ritika': 25, 'Saina': 19, 'Shireen': 14}
Average age:{avg.2f}

Q4

In [9]:
l=[1,2,3,4,5,6,7,8,9]
for num in l:
    if(num%2==0):
        print(num)

2
4
6
8

Q5

In [10]:
def duplicate(numbers):
    duplicates = []
    seen = set()
    
    for num in numbers:
        if num in seen and num not in duplicates:
            duplicates.append(num)
        seen.add(num)
    
    return duplicates
l=[1,2,3,1,2,3,1,2,3,4]
ans=duplicate(l)
print(ans)

[1, 2, 3]

Q6

In [12]:
s="Hello! I am Dhruvi."
print(s[::-1])

.ivurhD ma I !olleH

Q7

In [13]:
a,b=0,1
for i in range(0,5):
    print(a,end=' ')
    a,b=b,a+b

0 1 1 2 3

Q8

In [14]:

with open("hello.txt", "w") as file:
    file.write("Hi, I am currently pursuing my BTech from Jaypee.")

print(f"The contents of file have been replaced successfully.")

The contents of file have been replaced successfully.

Q9

In [15]:
with open("hello.txt", 'r') as file:
    lines = file.readlines()
    for line in reversed(lines):
        print(line.strip()[::-1])

.eepyaJ morf hceTB ym gniusrup yltnerruc ma I ,iH

Q10

In [16]:
numbers=[1,2,3,4,5,6,7,8,9]
odd_numbers = [num for num in numbers if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

Q11

In [18]:
with open("hello.txt", "r") as file:
    content = file.read()
    char_count = len(content)
print("Number of characters are",char_count)

Number of characters are 49

Q12

In [ ]:
from collections import defaultdict

def find_anagrams(words):
  """
  Finds and groups anagrams in a given list of words.
  """
  anagram_map = defaultdict(list)
  for word in words:
    sorted_word = "".join(sorted(word))
    anagram_map[sorted_word].append(word)

  return [group for group in anagram_map.values() if len(group) > 1]

word_list = ['eat', 'ate', 'done', 'tea', 'soup', 'node', 'tan', 'nat']
anagram_groups = find_anagrams(word_list)
print(f"Anagrams in {word_list}:")
print(anagram_groups)

Anagrams in ['eat', 'ate', 'done', 'tea', 'soup', 'node', 'tan', 'nat']:
[['eat', 'ate', 'tea'], ['done', 'node'], ['tan', 'nat']]